.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 60px;
  width: 90%;
  height: 15%;
/*  border: 2px solid black; */
}

.titleContainer h1 {
  font-size: 3rem;
  color: black;
  font-weight: 500;
  margin: 0;
}

.titleContainer h1 span {
  color: #FF0101;
}

.titleContainer p {
  color: black;
}

.iconClap {
  width: 24px;
  height: auto;
}